/* Reset styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right,#e2e2e2 , #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/* Section Styling */
section {
    padding: 60px 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    text-align: center;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title and Description */
h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
}

.section-description {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 40px;
}

/* Form Styling */
.data-form {
    display: flex;
    flex-direction: column;
    gap: 2px;
}


.data-form input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.data-form select {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

label {
    text-align: left;
    font-weight: bold;
    color: #555;
}

input, select, button {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Data Display Section */
.data-display {
    margin-top: 20px;
    text-align: left;
}

/* Navigation Link */
.navigation-link {
    margin-top: 20px;
}

.navigation-link a {
    color: #007bff;
    text-decoration: none;
}

.navigation-link a:hover {
    text-decoration: underline;
}
